.container{
  display: flex ;
  justify-content: space-around;
}
.card{
  /* border: 2px solid grey; */
  box-shadow: 20px 20px 50px grey;
  border-radius: 10px;
}
.card-img-top{
  border-radius: 10px;
  width: 100%;
}
.footer {
  background: #42a5f5;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  padding: 20px;
  margin-top: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;

}
